.navigation {
  width: 100%;
}

.navigation_disable {
  opacity: 0;
}

.navigation__ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0;
  margin: 0;
}

.navigation__li {
  list-style-type: none;
}

.navigation__logo {
  max-width: 200px;
  font-family: Roboto Slab;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 1.2;
  text-decoration: none;
  text-align: left;
  color: #ffffff;
  margin: 0;
}

.navigation__logo_black {
  color: black;
}

.navigation__logo:hover {
  opacity: 0.8;
}

.navigation__main-link {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.33;
  max-width: 69px;
  text-decoration: none;
  margin-right: 32px;
  color: #ffffff;
  padding-bottom: 26px;
  border-bottom: 2px solid #ffffff;
}

@media (max-width: 768px) {
  .navigation__main-link {
      font-size: 16px;
      line-height: 1.5;
      padding-bottom: 21px;
      margin-right: 16px;
  }
}

@media (max-width: 635px) {
  .navigation__main-link {
      display: none;
  }
}

.navigation__main-link_black {
  color: black;
  padding-bottom: 0;
  border-bottom: none;
}

.navigation__container {
  display: flex;
  align-items: center;
}

.navigation__main-link:hover {
  opacity: 0.8;
}

.navigation__btn-authorization {
  border: 1px solid #ffffff;
  border-radius: 100px;
  width: 176px;
  height: 48px;
  padding: 0;
  margin: 0;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.33;
  outline: none;
  background: inherit;
  color: white;
}

@media (max-width: 635px) {
  .navigation__btn-authorization {
      display: none;
  }
}

.navigation__btn-authorization:hover {
  cursor: pointer;
  opacity: 0.8;
}

.navigation__btn-logout {
  display: flex;
  justify-content: space-between;
  background-color: #ffffff;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.333;
  align-items: center;
  color: #1a1b22;
  outline: none;
  border-radius: 100px;
  min-width: 112px;
  height: 48px;
  padding: 0 18px 0;
  box-sizing: border-box;
  border: 1px solid #1a1b22;
}

@media (max-width: 635px) {
  .navigation__btn-logout {
      display: none;
  }
}

.navigation__btn-logout:hover {
  cursor: pointer;
  opacity: 0.7;
}

.navigation__btn-logout_main {
  border: 1px solid #ffffff;
  background-color: inherit;
  color: white;
}

.navigation__img-logout {
  width: 24px;
  height: 24px;
  margin-left: 6px;
}

.navigation__saved-news {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.33;
  text-align: center;
  color: white;
  text-decoration: none;
  margin-right: 32px;
}

.navigation__saved-news_black {
  color: black;
  padding-bottom: 26px;
  border-bottom: 2px solid black;
}

.navigation__saved-news:hover {
  opacity: 0.8;
}

@media (max-width: 768px) {
  .navigation__saved-news {
      font-size: 16px;
      line-height: 1.5;
      margin-right: 16px;
      padding-bottom: 21px;
  }
}

@media (max-width: 635px) {
  .navigation__saved-news {
      display: none;
  }
}

.navigation__butter {
  display: none;
}

@media (max-width: 635px) {
  .navigation__butter {
      display: flex;
      background-image: url("../../images/svg/menu.svg");
      background-repeat: no-repeat;
      background-color: inherit;
      width: 24px;
      height: 24px;
      outline: none;
      padding: 0;
      border: none;
  }

  .navigation__butter:hover {
      opacity: 0.8;
      cursor: pointer;
  }

  .navigation__butter_black {
      background-image: url("../../images/svg/menu-black.svg");
  }

  .navigation__menu-closed_white {
      background-image: url("../../images/svg/close_burger.svg");
  }

  .navigation__menu-closed_black {
      background-image: url("../../images/svg/close_burger.svg");
  }
}
