.footer {
    display: flex;
    justify-content: space-between;
    height: calc(64px + (80 - 64) var(--calc768));
    max-width: 1440px;
    margin: 0 auto;
    background-color: white;
    box-sizing: border-box;
    padding: calc(21px + (30 - 21) var(--calc768)) calc(40px + (106 - 40) var(--calc768)) calc(21px + (28 - 21) var(--calc768)) calc(40px + (104 - 40) var(--calc768));
}
@media (min-width: 1440px) {
    .footer {
        height: 80px;
        padding: 30px 106px 28px 104px;
    }
}

@media (max-width: 550px) {
    .footer {
        flex-direction: column-reverse;
        padding: 20px 16px 22px;
        height: 100%;
    }
}

.footer__copyright {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 1.375;
    color: #b6bcbf;
    margin: 0;
}

.footer__social {
    display: flex;
    justify-content: space-between;
    padding: 0;
    margin: 0;
    width: 66.89px;
}

.footer__nav {
    display: flex;
    justify-content: space-between;
}

.footer__links {
    display: flex;
    justify-content: space-around;
    padding: 0;
    margin: 0 calc(25.89px + (41.89 - 25.89) var(--calc768)) 0 0;
    width: calc(264px + (304 - 264) var(--calc768));
}

@media (min-width: 1440px) {
    .footer__links {
        width: 304px;
        margin: 0 41.89px 0 0;
    }
}

@media (max-width: 550px) {
    .footer__links {
        display: flex;
        flex-direction: column;
        width: 200px;
        height: 72px;
        margin-bottom: 40px;
        align-items: bottom;
    }
}

.footer__li {
    list-style-type: none;
}

.footer__li:hover {
    opacity: 0.6;
}

@media (max-width: 400px) {
    .footer__li {
        margin: 0;
    }
}

.footer__link {
    display: flex;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    text-align: center;
    color: #1a1b22;
    text-decoration: none;
}

@media (max-width: 550px) {
    .footer__link {
        line-height: 48px;
        text-align: none;
    }
}

.footer__icon {
    width: 20px;
    height: 20px;
}
