.news-card {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.news-card__img-place {
    position: relative;
    display: flex;
    justify-content: space-between;
    height: calc(150px + (272 - 150) var(--calc768));
    width: 100%;
    background-image: url("../../images/jpg/image_06.jpg");
    border-radius: 5% 5% 0 0;
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
    object-fit: contain;
}

@media (min-width: 1440px) {
    .news-card__img-place {
        height: 272px;
    }
}

@media (max-width: 768px) {
    .news-card__img-place {
        height: 150px;
    }
}

@media (max-width: 493px) {
    .news-card__img-place {
        height: 196px;
    }
}

.news-card__keyword {
    display: flex;
    justify-content: center;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.714;
    text-align: center;
    color: #000000;
    background: white;
    border-radius: 10px;
    width: 88px;
    height: 40px;
    align-items: center;
    margin: calc(8px + (24 - 8) var(--calc768)) 0 0 calc(8px + (24 - 8) var(--calc768));
}

@media (min-width: 1440px) {
    .news-card__keyword {
        margin: 24px 0 0 24px;
    }
}

@media (max-width: 768px) {
    .news-card__keyword {
        margin: 8px 0 0 8px;
    }
}

@media (max-width: 493px) {
    .news-card__keyword {
        margin: 16px 0 0 16px;
    }
}

.news-card__check {
    background: #ffffff;
    background-image: url("../../images/svg/check_normal.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 14px 19px;
    width: 40px;
    height: 40px;
    border-radius: 8px;
    margin: calc(8px + (24 - 8) var(--calc768)) calc(8px + (24 - 8) var(--calc768)) 0 0;
    cursor: pointer;
    outline: none;
    border: none;
    padding: 0;
}

@media (min-width: 1440px) {
    .news-card__check {
        margin: 24px 24px 0 0px;
    }
}

@media (max-width: 768px) {
    .news-card__check {
        margin: 8px 8px 0 0px;
    }
}

@media (max-width: 493px) {
    .news-card__check {
        margin: 16px 16px 0 0px;
    }
}

.news-card__check:hover {
    background-image: url("../../images/svg/check_hover.svg");
}

@media (max-width: 768px) {
    .news-card__check:hover {
        background-image: url("../../images/svg/check_normal.svg");
    }
}

.news-card__check-marked {
    background: #ffffff;
    background-image: url("../../images/svg/check_marked.svg");
    background-repeat: no-repeat;
    background-size: 14px 19px;
    background-position: center;
    width: 40px;
    height: 40px;
    border-radius: 8px;
    margin: calc(8px + (24 - 8) var(--calc768)) calc(8px + (24 - 8) var(--calc768)) 0 0;
    cursor: pointer;
    outline: none;
    border: none;
    padding: 0;
}

@media (min-width: 1440px) {
    .news-card__check-marked {
        margin: 24px 24px 0 0px;
    }
}

@media (max-width: 768px) {
    .news-card__check-marked {
        margin: 8px 8px 0 0px;
    }
}

@media (max-width: 493px) {
    .news-card__check-marked {
        margin: 16px 16px 0 0px;
    }
}

.news-card__check::after {
    content: "Войдите, чтобы сохранять статьи";
    position: absolute;
    top: calc(8px + (24 - 8) var(--calc768));
    right: 69px;
    justify-content: center;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 10px;
    line-height: 1.2;
    display: flex;
    align-items: center;
    text-align: center;
    color: #000000;
    background: #ffffff;
    box-shadow: 0px 10px 22px rgba(59, 74, 116, 0.1);
    border-radius: 10px;
    width: 182px;
    height: 40px;
    transition: opacity 0.4s ease-out;
    opacity: 0;
    pointer-events: none;
}

.news-card__check:hover::after {
    opacity: 1;
}

@media (min-width: 1440px) {
    .news-card__check::after {
        top: 24px;
    }
}

@media (max-width: 800px) {
    .news-card__check::after {
        width: 90px;
        height: 50px;
    }
}

@media (max-width: 768px) {
    .news-card__check::after {
        top: 8px;
    }
}

@media (max-width: 492px) {
    .news-card__check::after {
        width: 182px;
        height: 40px;
        top: 16px;
    }
}

.news-card__trash {
    background-image: url("../../images/svg/trash.svg");
    background-repeat: no-repeat;
    background-color: white;
    background-position: center;
    background-size: 24px;
    width: 40px;
    height: 40px;
    border-radius: 8px;
    margin: calc(8px + (24 - 8) var(--calc768)) calc(8px + (24 - 8) var(--calc768)) 0 0px;
    cursor: pointer;
    outline: none;
    border: none;
    padding: 0;
}
.news-card__trash:hover {
    opacity: 0.8;
}

@media (min-width: 1440px) {
    .news-card__trash {
        margin: 24px 24px 0 0px;
    }
}

@media (max-width: 768px) {
    .news-card__trash {
        margin: 8px 8px 0 0px;
    }
}

@media (max-width: 493px) {
    .news-card__trash {
        margin: 16px 16px 0 0px;
    }
}

.news-card__trash::before {
    content: "Убрать из сохраненных";
    position: absolute;
    top: calc(8px + (24 - 8) var(--calc768));
    right: 69px;
    display: flex;
    justify-content: center;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #000000;
    background: #ffffff;
    box-shadow: 0px 10px 22px rgba(59, 74, 116, 0.1);
    border-radius: 10px;
    width: 159px;
    height: 40px;
    transition: opacity 0.4s ease-out;
    opacity: 0;
    pointer-events: none;
}

.news-card__trash:hover::before {
    opacity: 1;
}

@media (min-width: 1440px) {
    .news-card__trash::before {
        top: 24px;
    }
}

@media (max-width: 800px) {
    .news-card__trash::before {
        width: 90px;
        height: 50px;
    }
}

@media (max-width: 768px) {
    .news-card__trash::before {
        top: 8px;
    }
}

@media (max-width: 492px) {
    .news-card__trash::before {
        width: 159px;
        height: 40px;
        top: 16px;
    }
}

.news-card__text-place {
    background-color: white;
    padding: calc(16px + (20 - 16) var(--calc768)) calc(24px + (24 - 16) var(--calc768)) calc(16px + (24 - 16) var(--calc768));
    box-sizing: border-box;
    width: 100%;
    border-radius: 0 0 5% 5%;
}

@media (min-width: 1440px) {
    .news-card__text-place {
        padding: 20px 24px 24px;
    }
}

@media (max-width: 768px) {
    .news-card__text-place {
        padding: 16px 24px 16px;
    }
}

@media (max-width: 493px) {
    .news-card__text-place {
        padding: 16px 16px 16px;
    }
}

.news-card__date {
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    display: flex;
    align-items: center;
    color: #b6bcbf;
    margin: 0 0 12px;
}

.news-card__title {
    max-width: 352px;
    font-family: Roboto Slab;
    font-style: normal;
    font-weight: normal;
    font-size: 26px;
    line-height: 30px;
    color: #1a1b22;
    margin: 0 0 calc(10px + (16 - 10) var(--calc768));
    height: 60px;

    position: relative;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-box-pack: center;
    -webkit-line-clamp: 2;
    vertical-align: top;
    overflow: hidden;
}

@media (min-width: 1440px) {
    .news-card__title {
        font-size: 26px;
        line-height: 30px;
        margin: 0 0 16px;
    }
}

@media (max-width: 768px) {
    .news-card__title {
        font-size: 22px;
        line-height: 26x;
        margin: 0 0 10px;
    }
}

.news-card__title:hover {
    opacity: 0.7;
    cursor: pointer;
}

.news-card__text {
    max-width: 352px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 1.375;
    color: #1a1b22;
    margin: 0 0 calc(12px + (18 - 12) var(--calc768));
    height: calc(88px + (110 - 88) var(--calc768));
    width: 100%;
    overflow: hidden;
}

@media (min-width: 1440px) {
    .news-card__text {
        height: 110px;
        margin: 0 0 18px;
    }
}

@media (max-width: 768px) {
    .news-card__text {
        margin: 0 0 12px;
        height: 88px;
    }
}

@media (max-width: 493px) {
    .news-card__text {
        margin: 0 0 10px;
    }
}

.news-card__source {
    font-family: Roboto Slab;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.4px;
    text-transform: uppercase;
    color: #b6bcbf;
    margin: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.news-card__link {
    text-decoration: none;
}
